aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp_socks==0.10.1
aiorpcX==0.25.0
aiosignal==1.4.0
attrs==22.2.0
base58==2.1.1
bitbox02==7.0.0
cbor2==5.7.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
ckcc-protocol==1.4.0
click==8.1.8
construct==2.10.70
construct-classes==0.2.2
cryptography==45.0.7
dnspython==2.4.2
ecdsa==0.19.1
electrum-aionostr==0.0.11
electrum-ecc==0.0.6
frozenlist==1.7.0
hidapi==0.14.0.post4
idna==3.10
jsonpatch==1.33
jsonpointer==3.0.0
ledger_bitcoin==0.4.0
ledgercomm==1.2.1
libusb1==3.3.1
mnemonic==0.21
multidict==6.6.4
noiseprotocol==0.3.1
packaging==25.0
propcache==0.3.2
protobuf==6.32.1
pyaes==1.6.1
pycparser==2.23
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
pyserial==3.5
python-socks==2.7.2
QDarkStyle==3.2.3
qrcode==8.2
QtPy==2.4.3
requests==2.32.5
safet==0.1.5
semver==3.0.4
setuptools==80.9.0
shamir-mnemonic==0.3.0
six==1.17.0
slip10==1.0.1
trezor==0.13.10
typing_extensions==4.15.0
urllib3==1.26.20
yarl==1.20.1
